<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <title>TodoList</title>
  <script src="../public/vue.js"></script>
</head>

<body>
<div id="app">
  <input type="text" v-model="inputValue"/>
  <button @click="handleBtnClick">添加</button>
  <ul>
    <!-- 父组件监听名为delete的广播并执行对应方法 -->
    <todo-item v-for="(item, index) in list"
               :content="item"
               :index="index"
               :key="index"
               @delete="handleItemDelete"
    ></todo-item>
  </ul>
</div>
<script>
  // 定义全局组件
  // Vue.component("TodoItem", {
  //   props: ['content'],
  //   template: "<li>{{content}}</li>"
  // });

  // 定义局部组件
  let TodoItem = {
    props: ["content", "index"],
    template: "<li @click='handleItemClick'>{{content}}</li>",
    methods: {
      handleItemClick() {
        // 向外广播名为delete的事件并附带参数index
        this.$emit("delete", this.index);
      }
    }
  };

  let app = new Vue({
    el: "#app",
    components: {
      TodoItem
    },
    data: {
      inputValue: "",
      list: []
    },
    methods: {
      handleBtnClick() {
        this.list.push(this.inputValue);
        this.inputValue = "";
      },

      handleItemDelete(index) {
        this.list.splice(index, 1);
      }
    }
  });
</script>
</body>

</html>
